.btn {
    background-color: getColor(border-color) !important;
    color: getColor(third-color) !important;
    font-weight: 600 !important;
    width: 100px !important;
    margin: 6% auto !important;
    border-radius: 30px !important;
    border-color: getColor(border-color) !important;
    moz-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out !important;

    @media (min-width:992px) {
        font-size: 1.3rem !important;
    }
}

.btn:hover,
.btn-secondary {
    background-position: 100% 0 !important;
    moz-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out !important;
    background-image: linear-gradient(to right, #29323c, #485563, #4e4376) !important;
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75) !important;
    border: none !important;
}

.btn:focus,
.active {
    outline: none !important;
    background-color: #485563 !important;
    border: none !important;
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75) !important;
}

.active {
    @extend .btn;
    text-decoration: underline !important;
}

.btn-navbar {
    background-color: getColor(border-color) !important;
    border: none !important;
    color: #fff !important;
}

.btn-navbar:focus {
    background-color: #485563 !important;
    border: none !important;
    box-shadow: none !important;
}